<div class="max-w-md mx-auto p-6">
    <form>
        <h1 class="font-bold text-4xl mb-5">Kotkogram</h1>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Ex. tomthecat">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput placeholder="Ex. tomthecat">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="Ex. tomthecat">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Image URL</mat-label>
            <input matInput placeholder="Ex. tomthecat">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Ex. supersecretpassword">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Repeat password</mat-label>
            <input matInput placeholder="Ex. supersecretpassword">
        </mat-form-field>
        <div class="mb-4">
            <mat-checkbox>Yes, I'm a cat and not a human or a... dog</mat-checkbox>
        </div>
        <button mat-raised-button class="w-full" color="primary">Sign Up</button>
    </form>
</div>
