<div *ngIf="(post$ | async) as post" class="wrapper">
    <!-- POST IMAGE -->
    <div class="image-container">
        <img [src]="post.imageUrl" [alt]="post.description">
    </div>
    <div class="comments-container">
        <div class="post">
            <div class="post__title">
                <!-- POST OWNER DATA -->
                <div class="flex gap-3">
                    <div
                        class="relative rounded-full overflow-hidden w-6 h-6 border border-gray-100 shadow-sm ring-2 ring-primary ring-offset-2">
                        <img class="object-cover h-full w-full absolute top-0 left-0" [src]="post.owner.imageUrl"
                            alt="owner portrait">
                    </div>
                    <h3>
                        <a class="text-primary font-semibold hover:underline cursor-pointer"
                            (click)="closeWithRedirect(post.owner._id)">{{post.owner.username}}
                        </a>
                    </h3>
                </div>
                <button [disabled]="isFollowLoading" *ngIf="user && user._id !== post.owner._id"
                    (click)="onFollow(post.owner._id)" mat-button color="primary">
                    <span *ngIf="!user.following.includes(post.owner._id)">Follow</span>
                    <span *ngIf="user.following.includes(post.owner._id)" class="text-red-700">Unfollow</span>
                </button>
                <span>{{post.createdAt | date: 'dd/MM/yy, h:mm a'}}</span>
            </div>
            <!-- POST CONTENT -->
            <div *ngIf="!isEditing" class="p-2 flex justify-between items-center">
                <span>{{post.description}}</span>
                <button *ngIf="isOwner" mat-button (click)="isEditing = !isEditing">Edit</button>
            </div>
            <div *ngIf="isEditing && isOwner" class="p-2">
                <form #editF="ngForm" class="w-full flex flex-col gap-1" (ngSubmit)="onPostEdit()">
                    <mat-form-field style="width: 100%" appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea name="description" id="description" matInput [ngModel]="post.description"
                            [required]="true" minlength="3" maxlength="280"></textarea>
                        <mat-error *ngIf="editF.controls['description'].errors?.['required']">
                            Description is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="editF.controls['description'].errors?.['minlength']">
                            Minimum length is <strong>3</strong> characters
                        </mat-error>
                        <mat-error *ngIf="editF.controls['description'].errors?.['maxlength']">
                            Maximum length is <strong>280</strong> characters
                        </mat-error>
                    </mat-form-field>
                    <div class="flex">
                        <button [disabled]="!editF.valid" mat-button class="w-1/2 text-green-700">Save</button>
                        <button mat-button (click)="isEditing = false" class="w-1/2 text-red-700">Cancel</button>
                    </div>
                </form>
            </div>
            <!-- COMMENTS -->
            <div class="flex" *ngIf="user">
                <button (click)="onLike()" mat-icon-button>
                    <span class="text-sm">{{post.likes.length}}</span>
                    <mat-icon class="scale-150" color="primary" aria-hidden="false" aria-label="like">
                        {{post.likes.includes(user._id) ? 'favorite' : 'favorite_outline'}}
                    </mat-icon>
                </button>
                <button mat-icon-button (click)="togglePanel()">
                    <mat-icon class="scale-150" color="primary" aria-hidden="false" aria-label="like">comment</mat-icon>
                </button>
                <button *ngIf="user?._id === post.owner._id" mat-icon-button (click)="openDialog()">
                    <mat-icon class="scale-150 text-red-600" aria-hidden="false" aria-label="delete">delete</mat-icon>
                </button>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div class="form-container">
            <mat-expansion-panel [expanded]="panelOpenState" class="mat-elevation-z0">
                <form #f="ngForm" class="comment-form" (ngSubmit)="onSubmit(f)">
                    <mat-form-field style="width: 100%" appearance="outline">
                        <mat-label>Leave a comment</mat-label>
                        <textarea name="comment" id="comment" matInput ngModel [required]="true" minlength="3"
                            maxlength="280"></textarea>
                        <mat-error *ngIf="f.controls['comment']?.errors?.['required']">
                            Comment cannot be empty
                        </mat-error>
                        <mat-error *ngIf="f.controls['comment']?.errors?.['minlength']">
                            Minimum length is <strong>3</strong> characters
                        </mat-error>
                        <mat-error *ngIf="f.controls['comment']?.errors?.['maxlength']">
                            Maximum length is <strong>280</strong> characters
                        </mat-error>
                    </mat-form-field>
                    <button [disabled]="!f.valid" mat-raised-button color="primary" class="full-width">Submit</button>
                </form>
            </mat-expansion-panel>
        </div>
        <app-comment (redirect)="closeWithRedirect($event)" *ngFor="let comment of (comments$ | async)"
            [comment]="comment">
        </app-comment>
    </div>
</div>
