<div class="image-container">
    <img [src]="post.imageUrl" alt="">
</div>
<div class="comments-container">
    <div class="post">
        <div class="post__title">
            <h3><a class="text-primary font-semibold" routerLink="1">{{post.owner.username}}</a></h3>
            <button mat-button color="primary" hideToggle>Follow</button>
        </div>
        <div class="post__content">
            <p>{{post.description}}</p>
        </div>
        <div class="post__menu">
            <button mat-icon-button>
                <mat-icon class="post__icons" color="primary" aria-hidden="false" aria-label="like">favorite</mat-icon>
            </button>
            <button mat-icon-button (click)="togglePanel()">
                <mat-icon class="post__icons" color="primary" aria-hidden="false" aria-label="like">comment</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="form-container">
        <mat-expansion-panel [expanded]="panelOpenState" class="mat-elevation-z0">
            <form class="comment-form">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput placeholder="Ex. Cute cat!..."></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary" class="full-width">Submit</button>
            </form>
        </mat-expansion-panel>
    </div>
    <div class="card">
        <h3><a class="text-primary font-semibold" routerLink="1">supercatmaniac</a></h3>
        <p>Hello World!</p>
    </div>
    <mat-divider></mat-divider>
    <div class="card">
        <h3><a class="text-primary font-semibold" routerLink="1">catty</a></h3>
        <p>Cool cat, man!</p>
    </div>
    <mat-divider></mat-divider>
    <div class="card">
        <h3><a class="text-primary font-semibold" routerLink="1">kasudc</a></h3>
        <p>My cat is the same color</p>
    </div>
    <mat-divider></mat-divider>
    <div class="card">
        <h3><a class="text-primary font-semibold" routerLink="1">supercatmaniac</a></h3>
        <p>Meow!</p>
    </div>
    <mat-divider></mat-divider>
</div>
