<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/feed" (click)="onSidenavClose()">
    <mat-icon>fact_check</mat-icon>
    <span class="nav-caption">Feed</span>
  </a>
  <a mat-list-item routerLink="/create" (click)="onSidenavClose()">
    <mat-icon>fact_check</mat-icon>
    <span class="nav-caption">Create</span>
  </a>
  <a mat-list-item routerLink="/profile" (click)="onSidenavClose()">
    <mat-icon>dataset</mat-icon>
    <span class="nav-caption">Profile</span>
  </a>
</mat-nav-list>
