<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon>
        <span class="ml-1">Home</span>
    </a>
    <a *ngIf="isAuthenticated" mat-list-item routerLink="/feed" (click)="onSidenavClose()">
        <mat-icon>fact_check</mat-icon>
        <span class="ml-1">Feed</span>
    </a>
    <a *ngIf="isAuthenticated" mat-list-item routerLink="/create" (click)="onSidenavClose()">
        <mat-icon>edit_note</mat-icon>
        <span class="ml-1">Create</span>
    </a>
    <a *ngIf="!isAuthenticated" mat-list-item routerLink="/auth/sign-in" (click)="onSidenavClose()">
        <mat-icon>fact_check</mat-icon>
        <span class="ml-1">Sign In</span>
    </a>
    <button *ngIf="isAuthenticated" mat-list-item [cdkMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        <span class="ml-1">Profile</span>
    </button>
    <ng-template #menu>
        <div class="bg-white p-4 rounded-md" cdkMenu>
            <a (click)="onSidenavClose()" [routerLink]="'/profile/' + user?._id" mat-button class="w-full" cdkMenuItem>
                <mat-icon>person</mat-icon>
                <span>View Profile</span>
            </a>
            <a (click)="onSignOut()" (click)="onSidenavClose()" routerLink="/signout" mat-button
                class="w-full text-red-800" cdkMenuItem>
                <mat-icon>logout</mat-icon>
                <span>Sign out</span>
            </a>
        </div>
    </ng-template>
</mat-nav-list>
