<div *ngIf="loading" class="flex justify-center items-center w-screen h-screen">
    <mat-spinner></mat-spinner>
</div>
<mat-sidenav-container *ngIf="!loading">
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <main class="pt-16">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
