<div *ngIf="loading">
    Loading...
</div>
<mat-sidenav-container *ngIf="!loading">
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <main>
            <router-outlet></router-outlet>
            <router-outlet name="m"></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
