<div *ngIf="(user$ | async) === undefined" class="flex justify-center items-center w-screen h-screen">
    <mat-spinner></mat-spinner>
</div>
<mat-sidenav-container *ngIf="(user$ | async) || (user$ | async) === null">
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <main>
            <router-outlet></router-outlet>
            <app-chat *ngIf="(user$ | async)"></app-chat>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
