<header class="max-w-[965px] m-auto px-3 py-6 flex flex-col sm:flex-row  gap-8">
    <div class="w-full sm:w-72 flex justify-center">
        <div class="rounded-full overflow-hidden w-48 h-48 shadow-md relative">
            <img class="absolute top-0 h-48 w-full" [src]="user.imageUrl" alt="user portrait">
        </div>
    </div>
    <div class="flex flex-col justify-between">
        <div class=" mb-4">
            <div class="flex align-middle justify-center sm:justify-start mb-2 gap-4">
                <h1 class="text-center sm:text-left text-4xl">{{user.username}}</h1>
                <button mat-button color="primary">Edit Profile</button>
            </div>
            <div class="flex justify-center sm:justify-start  gap-4">
                <span>{{userPostsCount}} publications</span>
                <span>{{user.followers?.length || 0}} followers</span>
            </div>
        </div>
        <div class="flex flex-col align-middle sm:justify-start ">
            <h3 class="font-bold text-center sm:text-left">{{user.firstName}} {{user.lastName}}</h3>
            <p class="text-center sm:text-left">{{user.description}}</p>
        </div>
    </div>
    <mat-divider></mat-divider>
</header>