<mat-card class="max-w-lg">
    <mat-card-header>
        <div mat-card-avatar [ngStyle]="{ background: 'url(' + post.owner.imageUrl +  ')', backgroundSize: 'cover'}">
        </div>
        <mat-card-title>
            <a class="hover:underline" [routerLink]="'/profile/' + post.owner._id">{{post.owner.username}}</a>
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image style="margin: 10px 0 10px 0" [src]="post.imageUrl" [alt]="post.description">
    <mat-card-content>
        <p>
            {{post.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="p-2">
            <div class="w-fit ml-auto">
                <a mat-raised-button class="ml-auto" [routerLink]="'details/' + post._id" color="primary">
                    <mat-icon>mms</mat-icon>
                    <span class="ml-2">Details</span>
                </a>
            </div>
        </div>
    </mat-card-actions>
</mat-card>
