<mat-card class="max-w-lg">
    <mat-card-header>
        <div mat-card-avatar [ngStyle]="{ background: 'url(' + post.owner.imageUrl +  ')', backgroundSize: 'cover'}">
        </div>
        <mat-card-title>{{post.owner.username}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image style="margin: 10px 0 10px 0" [src]="post.imageUrl" [alt]="post.description">
    <mat-card-content>
        <p>
            {{post.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="post__menu">
            <button (click)="onLike()" mat-icon-button>
                <span class="text-sm">{{post.likes.length}}</span>
                <mat-icon class="post__icons" color="primary" aria-hidden="false" aria-label="like">favorite</mat-icon>
            </button>
            <a mat-icon-button [routerLink]="[ {outlets: { m: 'post/' + post._id } } ]">
                <mat-icon class="post__icons" color="primary" aria-hidden="false" aria-label="like">comment</mat-icon>
            </a>
        </div>
    </mat-card-actions>
</mat-card>
