<div *ngIf="(posts$ | async) && (activatedUser$ | async) && (count$ | async)" infiniteScroll
    [infiniteScrollContainer]="'.sidenav-content'" [fromRoot]="true" [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="50">
    <app-profile-header [user]="(activatedUser$ | async)!" [userPostsCount]="(count$ | async)!"
        [isOwner]="activatedUserId === (user$._id | async)">
    </app-profile-header>
    <app-cards-grid [posts]="(posts$ | async)!"></app-cards-grid>
</div>
<router-outlet></router-outlet>
