:host {
    max-width: 965px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
    padding: 10px;
}

@media (max-width: 965px) {
    :host {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    :host {
        grid-template-columns: repeat(1, 1fr);
    }
}

